.sectionMotivacional{
    width: 100%;
    .divConteudo{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    

        .divTitulo{
            width: 100%;
            margin-top: 8%;
            display: flex;
            align-items: center;
            flex-direction: column;
            .tituloMotivacional{
                width: 72.5%;
                font-size: 58px;
                font-style: italic;
            }
        }

        .divMotivacional{
          margin-top: 2%;
          width: 100% !important;
           display: flex;
          justify-content: center;
            .textoMotivacional{
                font-size: 1.8em;
                font-weight: lighter;
                width:20%;
                
                
            }
            .imagemMotivacional{
                border:3px solid white;
                border-radius: 5px;
                margin-left: 3em;
                margin-top: 0.8em;
                width:50%;
            }
        }
    }
}


// section{
//     margin-top: 10%;
//     // display: flex;
//     // justify-content: center;
    
//     div{
//         .divTitulo{
//             width: 100%;
//             display: flex;
//             justify-content:center;
    
//             // margin-left: 15.8%;
            
//             .tituloMotivacional {
//                 width: 40%;
//                 color: #fff;
//                 font-size: 58px;
//                 font-style: italic;
//                 font-weight: 500;
//                 line-height: normal;
//             }

//         }
//         .conteudo{
//             display: flex;
//             align-items: top;
//             justify-content: center;
            
//             .textoMotivacional{
//                 font-size: 1.8em;
//                 font-weight: lighter;
//                 width:20%;
//             }

//             .imagemMotivacional{
//                 border:3px solid white;
//                 border-radius: 5px;
//             }
//         }
//     }


// }